
.App {
  text-align: center;
}

.App .text-wrapper{
  padding: 20px;
  margin-top: 120px;
  display: inline-block;
  border: 5px solid #eee;
  border-radius: 5px;

}
.App .text-wrapper h1 {
  color: white;
  display: inline-block;
  background-color: darkgoldenrod;
  padding: 5px 10px;

}
.App .text-wrapper p{
  color: white;
  width: 400px;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  text-align: center;
}
.App .buttonlogin{
	content: "Login";
	width: 10%;
	height: 10%;
  top: 10%;
	background: darkgoldenrod;
	position: center;
	z-index: 1;
	left: 0;
	transition: .3s ease-in-out all;
}