
.App {
  text-align: center;
}

.App .text-wrapper{
  padding: 20px;
  margin-top: 120px;
  display: inline-block;
  border: 5px solid #eee;
  border-radius: 5px;
  background-color: rgba(176, 176, 176, 0.402);

}
.App .text-wrapper h1 {
  color: white;
  display: inline-block;
  background-color: darkgoldenrod;
  padding: 5px 10px;

}
.App .text-wrapper p{
  color: white;
  width: 400px;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  text-align: center;
}
.App .buttonlogin{
	content: "Login";
	width: 10%;
	height: 10%;
  top: 10%;
	background: darkgoldenrod;
	position: center;
	z-index: 1;
	left: 0;
	transition: .3s ease-in-out all;
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
}

.fondo_contenedor {
  background-color: rgba(227, 227, 227, 0.701);
  border-radius:10px;
}

.carousel {
  background-color: rgba(210, 210, 210, 0.8);
  padding: 1rem;
  border-radius: 10px;
}

.carousel-item>img {
    max-height: 24rem;
    max-width: auto;
    margin: auto;
}

.titulo {
  display: table;
  text-align: center;
  font-size: 32pt;
  color: white;
  font-weight: 700;
}

span {
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
}

.subtitulo {

  text-align: center;
  font-size: larger;
  font-weight: 500;

}

.info_card {
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(210, 210, 210, 0.8);

}



